<footer>
     <p>© 2022 DELIGHT. All Rights Reserved.</p>
</footer>
<!-- -----------------------------body end here----------------------------- -->
<!-- javascript here -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script src="js/script.js"></script>
<script src="js/routeCarousels/english.js"></script>
<script src="js/routeCarousels/Kdrama.js"></script>
<script src="js/routeCarousels/tvshows-english.js"></script>
<script src="js/routeCarousels/tvshows-hindi.js"></script>
<script src="js/routeCarousels/action.js"></script>
<script src="js/routeCarousels/fantasy.js"></script>
<script src="js/routeCarousels/comedy.js"></script>
<script src="js/routeCarousels/drama.js"></script>
<script src="js/routeCarousels/horror.js"></script>
<script src="js/routeCarousels/hindi.js"></script>
<script src="js/routeCarousels/tamil.js"></script>
<script src="js/routeCarousels/telegu.js"></script>
<script src="js/api-movie.js"></script>
</body>

</html>