<footer>
     <p>© 2022 DELIGHT. All Rights Reserved.</p>
</footer>
<!-- -----------------------------body end here----------------------------- -->
<!-- javascript here -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script src="js/script.js"></script>
<script src="js/routeCarousels/english.js"></script>
<script src="js/routeCarousels/Kdrama.js"></script>

</body>

</html>