
<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=
     initial-scale=1.0">

     <title>Delight</title>

     <link rel="shortcut icon" href="images/logo/onlyLogo.png" type="image/x-icon">

     <!-- font-family -->
     <!-- poppins -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap" rel="stylesheet">

     <!-- CSS files -->

     <link rel="stylesheet" href="css/style.css">
     <link rel="stylesheet" href="css/nav.css">
     <link rel="stylesheet" href="css/cardsSlideNhover.css">

     <!-- separate route css file -->

     <link rel="stylesheet" href="css/english.css">
     <link rel="stylesheet" href="css/kdrama.css">
     <link rel="stylesheet" href="css/kids.css">
     <link rel="stylesheet" href="css/tvshows-english.css">
     <link rel="stylesheet" href="css/tvshows-hindi.css">
     <link rel="stylesheet" href="css/action.css">
     <link rel="stylesheet" href="css/fantasy.css">
     <link rel="stylesheet" href="css/comedy.css">
     <link rel="stylesheet" href="css/drama.css">
     <link rel="stylesheet" href="css/horror.css">
     <link rel="stylesheet" href="css/hindi.css">
     <link rel="stylesheet" href="css/tamil.css">
     <link rel="stylesheet" href="css/telegu.css">
     <link rel="stylesheet" href="css/api-movie.css">

</head>

<body>
     <!-- go to top button -->
     <div class="goToTop">
          <a href="#firstElement">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                    <path
                         d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
               </svg>
          </a>
     </div>

     <!-- dark mode button -->
     <div class="darkMode">

          <!-- light mode logo -->
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-brightness-high-fill" viewBox="0 0 16 16">
               <path
                    d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
          </svg>

          <!-- dark mode logo -->
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi  bi-moon-fill"
               viewBox="0 0 16 16">
               <path
                    d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
          </svg>

     </div>
     <!-- navigation bar -->
     <nav >
          <div class="left-nav">
               <a href="/"><img class="main-website-logo" src="images/logo/titleLogo.png" alt=""></a>
               <span class="left-nav-text" id="tv">
                    TV
               </span>
               <div class="tv-menu menu">
                    <a href="/tv-english">
                         <p class="tv-menu-item itemsCategory">English</p>
                    </a>
                    <a href="/tv-hindi">
                         <p class="tv-menu-item itemsCategory">Hindi</p>
                    </a>
               </div>
               <span class="left-nav-text" id="movies">
                    Movies
               </span>
               <div class="movies-menu menu">
                    <a href="/hindi">
                         <p class="movies-menu-item itemsCategory">Hindi</p>
                    </a>
                    <a href="/english">
                         <p class="movies-menu-item itemsCategory">English</p>
                    </a>
                    <a href="/tamil">
                         <p class="movies-menu-item itemsCategory">Tamil</p>
                    </a>
                    <a href="/telegu">
                         <p class="movies-menu-item itemsCategory">Telegu</p>
                    </a>
                    <!-- <a href="">
                         <p class="movies-menu-item itemsCategory">Kannada</p>
                    </a>
                    <a href="">
                         <p class="movies-menu-item itemsCategory">Bengali</p>
                    </a>
                    <a href="">
                         <p class="movies-menu-item itemsCategory">Marathi</p>
                    </a> -->
                    <a href="/Korean">
                         <p class="movies-menu-item itemsCategory">Korean</p>
                    </a>
                    
               </div>
               <span class="left-nav-text" id="genre">
                    Genre
               </span>
               <div class="genre-menu menu">
                    <a href="/action">
                         <p class="genre-menu-item itemsCategory">Action</p>
                    </a>
                    <a href="/fantasy">
                         <p class="genre-menu-item itemsCategory">Fantasy</p>
                    </a>
                    <a href="/comedy">
                         <p class="genre-menu-item itemsCategory">Comedy</p>
                    </a>
                    <a href="/drama">
                         <p class="genre-menu-item itemsCategory">Drama</p>
                    </a>
                    <!-- <a href="">
                         <p class="genre-menu-item itemsCategory">Crime</p>
                    </a>
                    <a href="">
                         <p class="genre-menu-item itemsCategory">Romance</p>
                    </a> -->
                    <a href="/horror">
                         <p class="genre-menu-item itemsCategory">Horror</p>
                    </a>
                    <!-- <a href="">
                         <p class="genre-menu-item itemsCategory">Sci-Fi</p>
                    </a>
                    <a href="">
                         <p class="genre-menu-item itemsCategory">Adventure</p>
                    </a> -->
               </div>
               <span class="left-nav-text">
                    <a class="kids-text" href="/kids">Kids</a>
               </span>
          </div>
          <div class="right-nav">
               <input class="search-bar" type="search" name="" id="" placeholder="Search">
               <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-search" viewBox="0 0 16 16">
                         <path
                              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
               </a>

               <span class="login">LOGIN</span>

          </div>
     </nav>
     <!-- nav ends here -->
     <div id="firstElement"></div>
     <!-- this is login card -->
     <div class="loginCard">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x"
               viewBox="0 0 16 16">
               <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
          </svg>
          <form action="/" method="post">
               <p class="loginTitle">Login to continue</p>
          <input type="text" placeholder="Enter your email">
          <p class="or">OR</p>
          <input type="text" placeholder="Enter your mobile number">
          <br>
          <button class="login-submit-button" type="submit">Login</button>
          </form>
          <a href="">
               <p class="create-new-account" style="color: rgb(124, 226, 252); text-decoration: underline;">
                    Create new account
               </p>
          </a>
     </div>