* {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

body {
     background-color: #1B1736;
     color: white;
     width: 100vw;
}

a {
     text-decoration: none;
     color: white;
     /* color: black; */
     /* margin-top: -10px; */
}

nav {
     background-color: #100e20;
     display: flex;
     justify-content: space-between;
     align-items: center;
     /* border: 2px solid red; */
     height: 90px;
     /* box-shadow: 0px 0px 66px #1c0179; */
     position: fixed;
     top: 0;
     z-index: 10;
     width: 100vw;
     /* background-color: white; */
}

.left-nav {
     margin-left: 45px;
     display: flex;
     align-items: center;
}

.main-website-logo {
     width: 150px;
     height: 55px;
}

.left-nav-text {
     margin-left: 30px;
     position: relative;
     cursor: pointer;
}

.right-nav {
     margin-right: 40px;
}

.login {
     margin-left: 20px;
     letter-spacing: 1px;
     cursor: pointer;
}

.search-bar {
     border: none;
     border-bottom: 1px solid rgb(253, 251, 251);
     height: 35px;
     width: 210px;
     padding-left: 7px;
}

.search-bar::placeholder {
     font-size: 18px;
     margin-left: 5px;
}

.search-bar:focus {
     outline: none;
}

.bi-search {
     margin: 0px 0px -4px -21px;
     transform: scale(20px);
     filter: invert(1);
}

.bi:hover {
     cursor: pointer;
}

.banner {
     display: flex;
     justify-content: center;
     margin-top: 20px;
}

.movieBanner {
     width: 76vw;
     height: 600px;
     margin-top: 70px;
}

.kids-text {
     font-family: 'Fuzzy Bubbles', cursive;

}

.menu {
     /* position: absolute; */
     background-color: #100e20;
}

.menu a p {
     text-align: center;
     border-bottom: 1px solid #4d3fb8;
     padding: 5px 0px;
}

.tv-menu {
     display: none;
     position: absolute;
     top: 72px;
     padding: 17px;
     left: 181px;
     border-radius: 3px;
     border: 2px solid #4d3fb8;
}


.movies-menu {
     display: none;
     /* visibility: hidden; */
     position: absolute;
     color: black;
     top: 72px;
     padding: 17px;
     left: 250px;
     border-radius: 3px;
     border: 2px solid #4d3fb8;
}

.genre-menu {
     display: none;
     position: absolute;
     color: black;
     top: 72px;
     /* visibility: hidden; */
     padding: 17px;
     left: 325px;
     border-radius: 3px;
     border: 2px solid #4d3fb8;
}

.categoryBanner {
     display: flex;
     flex-direction: column;
     margin-top: 25px;
     justify-content: center;
}

.categoryBanner img {
     width: 1430px;
     height: 628.85px;
}

footer {
     margin: 40px 0px;
}

footer p {
     text-align: center;
}

.aliveContent:hover::before {
     content: 'Watch Now!';
     border: 1px solid white;
     padding: 0px 11px;
     position: absolute;
     bottom: -50px;
     opacity: 0;
     font-size: 44px;
     left: 220px;
     animation: cover 200ms forwards ease-out;
}

.aliveContent::before {
     content: 'Watch Now!';
     position: absolute;
     border: 1px solid white;
     padding: 0px 11px;
     bottom: -50px;
     opacity: 0;
     font-size: 44px;
     left: 220px;
     animation: coverReverse 200ms forwards ease-in-out;
}

@keyframes cover {
     33% {
          bottom: -10px;
          opacity: 0.4;
     }

     66% {
          bottom: 0;
          opacity: 0.6;
     }

     100% {
          bottom: 40px;
          opacity: 1;
     }
}

@keyframes coverReverse {
     from {
          bottom: 40px;
          opacity: 1;

     }

     to {
          bottom: -50px;
          opacity: 0;
     }
}

.loginCard {
     position: fixed;
     opacity: 1;
     z-index: 100;
     width: 499px;
     height: 400px;
     top: 25vh;
     left: 30vw;
     background: linear-gradient(231.42deg, #140C4F 5.82%, rgba(16, 14, 32, 1) 99.43%);
     border-radius: 4px;
     display: none;
}

.loginCard .loginTitle{
     font-size: 25px;
     padding: 50px;
}

.loginCard input{
     border: none;
     border-bottom: 1px solid #4d3fb8;
     background-color: rgba(33, 28, 70, 0);
     font-size: 17px;
     color: white;
     letter-spacing: 1px;
     caret-color: white;
     margin: 38px 0px 45px 50px;
     outline: none;
     width: 400px;
     padding: 0px;
     /* padding: 0px; */
}

.loginCard input::placeholder{
     color: white;
}

.loginCard .or{
     font-size: 20px;
     text-align: center;
}

.bi-x{
     height: 30px;
     width: 30px;
     float: right;
     margin: 7px;
}

.darkMode{
     position: fixed;
     background-color: #1B1736;
     z-index: 110;
     height: 58px;
     /* filter: invert(1); */
     width: 55px;
     top: 50vh;
     border: 1px solid white;
     padding: 15px;
     border-radius: 0px 15px 15px 0px;
}

.bi-brightness-high-fill{
     width: 25px;
     height: 25px;
     position: absolute;
     display: none;
}

.bi-moon-fill{
     width: 25px;
     height: 25px;
     /* filter: invert(1); */
     position: absolute;
}

.goToTop{
     position: fixed;
     z-index: 1000;
     bottom: 21px;
     right: 27px;
}

.bi-arrow-up-circle-fill{
     width: 50px;
     height: 50px;
}







/* kantara.html */

.LatestTrending{
     margin-top: 22vh;
}

.slideRightEffect{
     animation: slideRight 700ms forwards ease-in;
}

@keyframes slideRight{
     to{
          margin-left: -100vw;
     }
}

.slideLeftEffect{
     animation: slideLeft 700ms forwards ease-in;
}

@keyframes slideLeft{
     from{
          margin-left: -100vw;
     }
     to{
          margin-left: 0px;
     }
}

.LatestTrendingText{
     font-size: x-large;
     margin-left: 20px;
     position: absolute;
     top: 15vh;
     z-index: 1000000;
}

.LatestTrendingCarousel{
     display: flex;
     position: relative;
     /* left: -100vw; */
     /* overflow: -moz-hidden-unscrollable; */
     overflow: hidden;
}

.leftButtonCarousel{
     position: absolute;
     top: 36vh;
     z-index: 1000;
     left: 0;
     padding-top: 5px;
     /* z-index: 10000000000; */
     /* overflow: visible; */
     /* background-color: #4d3fb8; */
}

.carouselButtonEffect{
     /* background-color: #4d3fb8; */
     opacity: 0.4;
}

.bi-chevron-left{
     width: 40px;
     height: 40px;
     
}

.bi-chevron-right{
     width: 40px;
     height: 40px;

}

.rightButtonCarousel{
     position: absolute;
     top: 36vh;
     z-index: 1000;
     right:0;
     padding-top: 5px;
     /* width: 100px; */
     /* height: 100px; */
}

.latestCards{
     margin: 0px 10px;
}

.cardsImages{
     height: 15rem; 
     border-radius: 5px;
     /* width: 30px; */
     border: 10px solid #1B1736;
}

.cardsImages:hover{
     border: 10px solid rgb(57, 55, 70, 0.5);
}