
<%- include("partials/landingHeader.ejs") -%>


<div class="action-top-rated">

     <!-- left right buttons -->
     <div class="actionleftButtonCarousel-top-rated left1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-left1" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg></div>

     <div class="actionrightButtonCarousel-top-rated right1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-right1" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg></div>

     <p class="action-top-rated-text">
          Top rated by critics
     </p>
     <div class="action-top-rated-Carousel slide11">

          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/action/arrow.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/action/black widow.webp"
                         alt=""></a>
          </div>
        
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/action/dc legends.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/action/doctor strange multiverse.webp" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/action/etarnals.webp"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages"
                         src="images/images/action/gotham.jpg" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/action/grimm.jpg" alt=""></a>
          </div>
          
     </div>

</div>

<div class="action-most-watched">

     <!-- left right buttons -->
     <div class="actionleftButtonCarousel-most-watched left2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-left2" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg></div>

     <div class="actionrightButtonCarousel-most-watched right2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-right2" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg></div>

     <p class="action-most-watched-text">
          Most watched
     </p>
     <div class="action-most-watched-Carousel slide2">

          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/action/black panther.webp"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/action/guardians of galaxy.webp"
                         alt=""></a>
          </div>
        
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/action/ironfist.webp"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/action/kantara.jpg" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/action/kgf.jpeg"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages"
                         src="images/images/action/mech x4.webp" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/action/prison break.webp" alt=""></a>
          </div>
          
     </div>

</div>

<div class="action-best-for-you ">

     <!-- left right buttons -->
     <div class="actionleftButtonCarousel-best-for-you left3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-left3" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg></div>

     <div class="actionrightButtonCarousel-best-for-you right3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-right3" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg></div>

     <p class="action-best-for-you-text">
               Best for you
     </p>
     <div class="action-best-for-you-Carousel slide3">

          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/action/shang chi.webp"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/action/spactaus.jpg"
                         alt=""></a>
          </div>
        
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/action/super girl.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/action/supernatural.jpg" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/action/taken.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages"
                         src="images/images/action/the last ship.jpg" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/action/venom.webp" alt=""></a>
          </div>
          
     </div>

</div>
<%- include("partials/footer.ejs") -%>