
<%- include("partials/landingHeader.ejs") -%>


<div class="drama-top-rated">

     <!-- left right buttons -->
     <div class="dramaleftButtonCarousel-top-rated left1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-left1" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg></div>

     <div class="dramarightButtonCarousel-top-rated right1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-right1" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg></div>

     <p class="drama-top-rated-text">
          Top rated by critics
     </p>
     <div class="drama-top-rated-Carousel slide11">

          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/drama/arrow.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/drama/dexter.jpg"
                         alt=""></a>
          </div>
        
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/drama/flames.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/drama/flash.jpg" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/drama/hostel daze.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages"
                         src="images/images/drama/immature.jpg" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/drama/leftover.webp" alt=""></a>
          </div>
          
     </div>

</div>

<div class="drama-most-watched">

     <!-- left right buttons -->
     <div class="dramaleftButtonCarousel-most-watched left2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-left2" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg></div>

     <div class="dramarightButtonCarousel-most-watched right2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-right2" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg></div>

     <p class="drama-most-watched-text">
          Most watched
     </p>
     <div class="drama-most-watched-Carousel slide2">

          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/drama/legacies.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/drama/originals.jpg"
                         alt=""></a>
          </div>
        
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/drama/panchayat.jpeg"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/drama/person of intrest.jpg" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/drama/santa claus.webp"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages"
                         src="images/images/drama/sherlock.jpg" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/drama/suits.jpg" alt=""></a>
          </div>
          
     </div>

</div>

<%- include("partials/footer.ejs") -%>