<%- include("partials/landingHeader.ejs") -%>
<!-- latest trending carousel -->
     <div class="englishLatestTrending ">

          <!-- left right buttons -->
          <div class="englishleftButtonCarousel-trending left1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                         d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
               </svg></div>

          <div class="englishrightButtonCarousel-trending right1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                         d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
               </svg></div>

          <p class="englishLatestTrendingText">
               Latest Trending
          </p>
          <div class="englishLatestTrendingCarousel slide1">

               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/english/latest trending/aladdin.webp"
                              alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/english/latest trending/death-nile.webp"
                              alt=""></a>
               </div>
             
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/english/latest trending/john-carter.webp"
                              alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/english/latest trending/jungle-cruise.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/english/latest trending/kings-man.webp"
                              alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages"
                              src="images/images/english/latest trending/life-of-pie.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/english/latest trending/disenchanted.webp" alt=""></a>
               </div>
               <!-- <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/english/latest trending/maleficent.webp"
                              alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/english/latest trending/nutcracker.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/english/latest trending/prey.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/english/latest trending/shang-chi.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/english/latest trending/titanic.webp"
                              alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/english/latest trending/tron.webp"
                              alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/english/latest trending/barbarian.webp"
                              alt=""></a>
               </div> -->
               
          </div>

     </div>

<!-- Superheroes carousel -->

     <div class="englishsuperheroes ">
          <div class="englishleftButtonCarousel-superheroes left2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                         d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
               </svg></div>

          <div class="englishrightButtonCarousel-superheroes right2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                         d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
               </svg></div>
    

     <p class="englishSuperheroesText">
          Best of Superheroes
     </p>
     <div class="englishSuperheroesCarousel slide2">

          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/english/superheros/black-widow.webp" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/english/superheros/blackPanther.webp" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/english/superheros/captain-marvel.webp"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/english/superheros/deadpool.webp" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/english/superheros/deadpool-2.webp" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/english/superheros/eternals.webp" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/english/superheros/homecoming.webp" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/english/superheros/multiverse-of-madness.webp"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/english/superheros/thorloventhunder.webp"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/english/superheros/venom.webp" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/english/superheros/warewolf.webp" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/english/superheros/xmen-apo.webp" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/english/superheros/spider-man-3.webp" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/english/superheros/spider-man.webp" alt=""></a>
          </div>
     </div>

</div>
     <%- include("partials/footer.ejs") -%>