
<%- include("partials/landingHeader.ejs") -%>


<div class="fantasy-top-rated">

     <!-- left right buttons -->
     <div class="fantasyleftButtonCarousel-top-rated left1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-left1" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg></div>

     <div class="fantasyrightButtonCarousel-top-rated right1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-right1" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg></div>

     <p class="fantasy-top-rated-text">
          Top rated by critics
     </p>
     <div class="fantasy-top-rated-Carousel slide11">

          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/fantasy/agents of shields.webp"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/fantasy/falcon.webp"
                         alt=""></a>
          </div>
        
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/fantasy/interwine.webp"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/fantasy/ms marvel.webp" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/fantasy/originals.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages"
                         src="images/images/fantasy/she hulk.webp" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/fantasy/spiderman 3.webp" alt=""></a>
          </div>
          
     </div>

</div>

<div class="fantasy-most-watched">

     <!-- left right buttons -->
     <div class="fantasyleftButtonCarousel-most-watched left2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-left2" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg></div>

     <div class="fantasyrightButtonCarousel-most-watched right2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-right2" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg></div>

     <p class="fantasy-most-watched-text">
          Most watched
     </p>
     <div class="fantasy-most-watched-Carousel slide2">

          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/fantasy/vampire diaries.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/fantasy/wanda vision.webp"
                         alt=""></a>
          </div>
        
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/fantasy/supernatural.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/fantasy/spiderman homecoming.webp" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/fantasy/orville.webp"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages"
                         src="images/images/fantasy/loki.webp" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/fantasy/doctor strange multiverse.webp" alt=""></a>
          </div>
          
     </div>

</div>

<%- include("partials/footer.ejs") -%>