
<%- include("partials/landingHeader.ejs") -%>


<div class="hindi-top-rated">

     <!-- left right buttons -->
     <div class="hindileftButtonCarousel-top-rated left1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-left1" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg></div>

     <div class="hindirightButtonCarousel-top-rated right1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-right1" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg></div>

     <p class="hindi-top-rated-text">
          Top rated by critics
     </p>
     <div class="hindi-top-rated-Carousel slide11">

          <div class="latestCards movie-arrow">
               <a href="/test"><img class="cardsImages" src="images/images/hindi/bacchanaPandey.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards movie-black-widow">
               <a href="/test"><img class="cardsImages" src="images/images/hindi/bellbottom.jpg"
                         alt=""></a>
          </div>
        
          <div class="latestCards movie-dc-legends">
               <a href="/test"><img class="cardsImages" src="images/images/hindi/brahmashtra.webp"
                         alt=""></a>
          </div>
          <div class="latestCards movie-dr-strange">
               <a href="/test"><img class="cardsImages" src="images/images/hindi/chakde.jpg" alt=""></a>
          </div>
          <div class="latestCards movie-eternals">
               <a href="/test"><img class="cardsImages" src="images/images/hindi/dabang3.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards movie-gotham">
               <a href="/test"><img class="cardsImages"
                         src="images/images/hindi/dhoni.webp" alt=""></a>
          </div>
          <div class="latestCards movie-grimm">
               <a href="/test"><img class="cardsImages" src="images/images/hindi/don.jpg" alt=""></a>
          </div>
          
     </div>

</div>

<div class="hindi-most-watched">

     <!-- left right buttons -->
     <div class="hindileftButtonCarousel-most-watched left2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-left2" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg></div>

     <div class="hindirightButtonCarousel-most-watched right2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-right2" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg></div>

     <p class="hindi-most-watched-text">
          Most watched
     </p>
     <div class="hindi-most-watched-Carousel slide2">

          <div class="latestCards movie-blackPanther">
               <a href="/test"><img class="cardsImages" src="images/images/hindi/ek tha tiger.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards movie-guardians-of-the-galaxy">
               <a href="/test"><img class="cardsImages" src="images/images/hindi/fukrey.jpg"
                         alt=""></a>
          </div>
        
          <div class="latestCards movie-ironfist">
               <a href="/test"><img class="cardsImages" src="images/images/hindi/fukrey1.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards movie-kantara">
               <a href="/test"><img class="cardsImages" src="images/images/hindi/gold.jpg" alt=""></a>
          </div>
          <div class="latestCards movie-kgf">
               <a href="/test"><img class="cardsImages" src="images/images/hindi/golmal again.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards movie-mech-x4">
               <a href="/test"><img class="cardsImages"
                         src="images/images/hindi/goodnews.jpg" alt=""></a>
          </div>
          <div class="latestCards movie-prison-break">
               <a href="/test"><img class="cardsImages" src="images/images/hindi/herapheri.jpg" alt=""></a>
          </div>
          
     </div>

</div>

<div class="hindi-best-for-you ">

     <!-- left right buttons -->
     <div class="hindileftButtonCarousel-best-for-you left3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-left3" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg></div>

     <div class="hindirightButtonCarousel-best-for-you right3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-right3" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg></div>

     <p class="hindi-best-for-you-text">
               Best for you
     </p>
     <div class="hindi-best-for-you-Carousel slide3">

          <div class="latestCards movie-shang-chi">
               <a href="/test"><img class="cardsImages" src="images/images/hindi/heropanti.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards movie-spactaus">
               <a href="/test"><img class="cardsImages" src="images/images/hindi/hindi medium.jpg"
                         alt=""></a>
          </div>
        
          <div class="latestCards movie-super-girl">
               <a href="/test"><img class="cardsImages" src="images/images/hindi/idiots.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards movie-supernatural">
               <a href="/test"><img class="cardsImages" src="images/images/hindi/jabwemet.jpg" alt=""></a>
          </div>
          <div class="latestCards movie-taken">
               <a href="/test"><img class="cardsImages" src="images/images/hindi/kalank.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards movie-last-ship">
               <a href="/test"><img class="cardsImages"
                         src="images/images/hindi/kesaria.jpg" alt=""></a>
          </div>
          <div class="latestCards movie-venom">
               <a href="/test"><img class="cardsImages" src="images/images/hindi/kgf2.jpg" alt=""></a>
          </div>
          
     </div>

</div>
<%- include("partials/footer.ejs") -%>