<!-- <==================================Delight landing page====================================> -->

<%- include("partials/landingHeader.ejs") -%>

     <!-- login card ends here -->
     <div class="banner">
          <!-- <a class="aliveContent" href="kantara.html">
               <img class="aliveContent movieBanner " src="images/images/movieBanner.png" alt="">
          </a> -->


          <div id="videosList">           

               <div class="video">
                   <video class="thevideo" loop preload="none">
                     <source src="images/video.mp4" type="video/mp4">
                     <!-- <source src="images/images/movieBanner.png" type="video/png"> -->
                   Your browser does not support the video tag.
                   </video>
                 </div>
                Latest Released Movie (Kantara)
               </div>
               

     </div>

     <div class="categoryBanner tv-shows-banner">
          <img src="images/images/moviesBanner.png" alt="">
          <img src="images/images/tvBanner.png" alt="">
          <img src="images/images/genreBanner.png" alt="">
          <img src="images/images/kidsBanner.png" alt="">
     </div>

     <%- include("partials/footer.ejs") -%>