
<%- include("partials/landingHeader.ejs") -%>

     <div class="KdramaLatestTrending">

          <!-- left right buttons -->
          <div class="KdramaleftButtonCarousel"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron " viewBox="0 0 16 16">
               <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
               </svg></div>

               <div class="KdramarightButtonCarousel"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron " viewBox="0 0 16 16">
               <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
               </svg></div>

          <p class="KdramaLatestTrendingText">
               Latest Trending
          </p>
          <div class="KdramaLatestTrendingCarousel">

               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/ana's revenge.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/civil servent.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/debt.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/fantastic.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/hidden.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/life of scerets.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/listen to love.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/more than friends.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/new life.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/price of passion.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/rain or shine.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/sisterhood.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/sketch.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/solomon.webp" alt=""></a>
               </div>
          </div>
     </div>
     
     <%- include("partials/footer.ejs") -%>