<%- include("partials/landingHeader.ejs") -%>

<div class="kids-section">
     
     <p class="kids-section-text">
          Kids Favorite
     </p>

     <a href="">
          <img src="images/images/kids/addams2.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/aquaman.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/bad.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/bajrangi.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/bal-ganesh.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/bean.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/beauty-n.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/bhoothnath.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/bossbaby1.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/charlie.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/bossbaby2.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/chotabheem-krishna.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/fantastic-where.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/harry1.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/harry2.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/harry3.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/harry4.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/harry6.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/harry7.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/harry81.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/harry82.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/home.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/hotel.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/justice.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/king.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/lost-n.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/madagaskar.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/magic.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/minionsGru.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/ninja turtles.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/north.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/panda3.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/paq.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/patliputra.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/pikachu.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/polar.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/rudra.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/shaun-the.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/shrek.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/sonic.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/swami.jpg" alt="" class="kids-img">

     </a>
     <a href="">
          <img src="images/images/kids/tara.jpg" alt="" class="kids-img">

     </a>

</div>

<%- include("partials/footer.ejs") -%>