
<%- include("partials/landingHeader.ejs") -%>

     <div class="KdramaLatestTrending">

          <!-- left right buttons -->
          <div class="KdramaleftButtonCarousel"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left " viewBox="0 0 16 16">
               <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
               </svg></div>

               <div class="KdramarightButtonCarousel"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right " viewBox="0 0 16 16">
               <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
               </svg></div>

          <p class="KdramaLatestTrendingText">
               Latest Trending
          </p>
          <div class="KdramaLatestTrendingCarousel">

               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/ana's revenge.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/civil servent.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/debt.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/fantastic.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/hidden.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/life of scerets.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/listen to love.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/more than friends.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/new life.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/price of passion.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/rain or shine.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/sisterhood.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/sketch.webp" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/latestTrending/solomon.webp" alt=""></a>
               </div>
          </div>
     </div>
     


     <div class="korean-top-rated">

          <!-- left right buttons -->
          <div class="koreanleftButtonCarousel-top-rated left1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-chevron bi-chevron-left1" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                         d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
               </svg></div>

          <div class="koreanrightButtonCarousel-top-rated right1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-chevron bi-chevron-right1" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                         d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
               </svg></div>

          <p class="korean-top-rated-text">
               Top rated by critics
          </p>
          <div class="korean-top-rated-Carousel slide11">

               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/worldwide/after the rain.jpg"
                              alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/worldwide/aloners.jpg"
                              alt=""></a>
               </div>
             
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/worldwide/anna.jpg"
                              alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/worldwide/assignment.jpg" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/worldwide/burning.jpg"
                              alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages"
                              src="images/images/kdrama/worldwide/emergency.jpg" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/worldwide/evangelion.jpg" alt=""></a>
               </div>
               
          </div>

     </div>

     <div class="korean-most-watched">

          <!-- left right buttons -->
          <div class="koreanleftButtonCarousel-most-watched left2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-chevron bi-chevron-left2" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                         d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
               </svg></div>

          <div class="koreanrightButtonCarousel-most-watched right2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-chevron bi-chevron-right2" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                         d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
               </svg></div>

          <p class="korean-most-watched-text">
               Most watched
          </p>
          <div class="korean-most-watched-Carousel slide2">

               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/worldwide/footloose.jpg"
                              alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/worldwide/housemaid.jpg"
                              alt=""></a>
               </div>
             
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/worldwide/hunt.jpg"
                              alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/worldwide/it had.jpg" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/worldwide/midnight.jpg"
                              alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages"
                              src="images/images/kdrama/worldwide/mogadishu.jpg" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/worldwide/nothing serious.jpg" alt=""></a>
               </div>
               
          </div>

     </div>

     <div class="korean-best-for-you ">

          <!-- left right buttons -->
          <div class="koreanleftButtonCarousel-best-for-you left3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-chevron bi-chevron-left3" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                         d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
               </svg></div>

          <div class="koreanrightButtonCarousel-best-for-you right3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-chevron bi-chevron-right3" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                         d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
               </svg></div>

          <p class="korean-best-for-you-text">
                    Best for you
          </p>
          <div class="korean-best-for-you-Carousel slide3">

               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/worldwide/oldboy.jpg"
                              alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/worldwide/outlaws.jpg"
                              alt=""></a>
               </div>
             
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/worldwide/round up.jpg"
                              alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/worldwide/train.jpg" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/worldwide/villianess.jpg"
                              alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages"
                              src="images/images/kdrama/worldwide/witch.jpg" alt=""></a>
               </div>
               <div class="latestCards">
                    <a href=""><img class="cardsImages" src="images/images/kdrama/worldwide/wotakoi.jpg" alt=""></a>
               </div>
               
          </div>

     </div>
     <%- include("partials/footer.ejs") -%>