
<%- include("partials/landingHeader.ejs") -%>


<div class="telegu-top-rated">

     <!-- left right buttons -->
     <div class="teleguleftButtonCarousel-top-rated left1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-left1" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg></div>

     <div class="telegurightButtonCarousel-top-rated right1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-right1" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg></div>

     <p class="telegu-top-rated-text">
          Top rated by critics
     </p>
     <div class="telegu-top-rated-Carousel slide11">

          <div class="latestCards movie-arrow">
               <a href="/test"><img class="cardsImages" src="images/images/telegu/whistle.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards movie-black-widow">
               <a href="/test"><img class="cardsImages" src="images/images/telegu/akhanda.webp"
                         alt=""></a>
          </div>
        
          <div class="latestCards movie-dc-legends">
               <a href="/test"><img class="cardsImages" src="images/images/telegu/arjunreddy.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards movie-dr-strange">
               <a href="/test"><img class="cardsImages" src="images/images/telegu/baahubali.webp" alt=""></a>
          </div>
          <div class="latestCards movie-eternals">
               <a href="/test"><img class="cardsImages" src="images/images/telegu/bahubali2.webp"
                         alt=""></a>
          </div>
          <div class="latestCards movie-gotham">
               <a href="/test"><img class="cardsImages"
                         src="images/images/telegu/benali tiger.webp" alt=""></a>
          </div>
          <div class="latestCards movie-grimm">
               <a href="/test"><img class="cardsImages" src="images/images/telegu/bhala.webp" alt=""></a>
          </div>
          
     </div>

</div>

<div class="telegu-most-watched">

     <!-- left right buttons -->
     <div class="teleguleftButtonCarousel-most-watched left2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-left2" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg></div>

     <div class="telegurightButtonCarousel-most-watched right2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-right2" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg></div>

     <p class="telegu-most-watched-text">
          Most watched
     </p>
     <div class="telegu-most-watched-Carousel slide2">

          <div class="latestCards movie-blackPanther">
               <a href="/test"><img class="cardsImages" src="images/images/telegu/bharat ane nenu.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards movie-guardians-of-the-galaxy">
               <a href="/test"><img class="cardsImages" src="images/images/telegu/bheemla.webp"
                         alt=""></a>
          </div>
        
          <div class="latestCards movie-ironfist">
               <a href="/test"><img class="cardsImages" src="images/images/telegu/businessmen.webp"
                         alt=""></a>
          </div>
          <div class="latestCards movie-kantara">
               <a href="/test"><img class="cardsImages" src="images/images/telegu/crazy.webp" alt=""></a>
          </div>
          <div class="latestCards movie-kgf">
               <a href="/test"><img class="cardsImages" src="images/images/telegu/evaru.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards movie-mech-x4">
               <a href="/test"><img class="cardsImages"
                         src="images/images/telegu/fidaa.jpg" alt=""></a>
          </div>
          <div class="latestCards movie-prison-break">
               <a href="/test"><img class="cardsImages" src="images/images/telegu/iravatham.webp" alt=""></a>
          </div>
          
     </div>

</div>

<div class="telegu-best-for-you ">

     <!-- left right buttons -->
     <div class="teleguleftButtonCarousel-best-for-you left3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-left3" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg></div>

     <div class="telegurightButtonCarousel-best-for-you right3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-right3" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg></div>

     <p class="telegu-best-for-you-text">
               Best for you
     </p>
     <div class="telegu-best-for-you-Carousel slide3">

          <div class="latestCards movie-shang-chi">
               <a href="/test"><img class="cardsImages" src="images/images/telegu/jamesbond.webp"
                         alt=""></a>
          </div>
          <div class="latestCards movie-spactaus">
               <a href="/test"><img class="cardsImages" src="images/images/telegu/julayi.webp"
                         alt=""></a>
          </div>
        
          <div class="latestCards movie-super-girl">
               <a href="/test"><img class="cardsImages" src="images/images/telegu/khiladi.webp"
                         alt=""></a>
          </div>
          <div class="latestCards movie-supernatural">
               <a href="/test"><img class="cardsImages" src="images/images/telegu/maa orii.webp" alt=""></a>
          </div>
          <div class="latestCards movie-taken">
               <a href="/test"><img class="cardsImages" src="images/images/telegu/RRR.webp"
                         alt=""></a>
          </div>
          <div class="latestCards movie-last-ship">
               <a href="/test"><img class="cardsImages"
                         src="images/images/telegu/saaho.jpg" alt=""></a>
          </div>
          <div class="latestCards movie-venom">
               <a href="/test"><img class="cardsImages" src="images/images/telegu/shans.webp" alt=""></a>
          </div>
          
     </div>

</div>
<%- include("partials/footer.ejs") -%>