
<%- include("partials/landingHeader.ejs") -%>


<div class="tvshow-hindi-top-rated">

     <!-- left right buttons -->
     <div class="tvshow-hindileftButtonCarousel-top-rated left1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-left1" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg></div>

     <div class="tvshow-hindirightButtonCarousel-top-rated right1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-right1" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg></div>

     <p class="tvshow-hindi-top-rated-text">
          Top rated by critics
     </p>
     <div class="tvshow-hindi-top-rated-Carousel slide11">

          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/hindi/anjaan.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/hindi/flames s2.jpg"
                         alt=""></a>
          </div>
        
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/hindi/flames s3.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/hindi/flames.jpg" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/hindi/hostel daze.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages"
                         src="images/images/tv shows/hindi/immature s1.jpg" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/hindi/immature.jpg" alt=""></a>
          </div>
          
     </div>

</div>

<div class="tvshow-hindi-most-watched">

     <!-- left right buttons -->
     <div class="tvshow-hindileftButtonCarousel-most-watched left2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-left2" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg></div>

     <div class="tvshow-hindirightButtonCarousel-most-watched right2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-right2" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg></div>

     <p class="tvshow-hindi-most-watched-text">
          Most watched
     </p>
     <div class="tvshow-hindi-most-watched-Carousel slide2">

          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/hindi/jugadistaan.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/hindi/legendes of ramayana.jpg"
                         alt=""></a>
          </div>
        
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/hindi/mind the malhotras.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/hindi/mismatch.jpg" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/hindi/panchayat.jpeg"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages"
                         src="images/images/tv shows/hindi/sc of sinauli.jpg" alt=""></a>
          </div>
        
     </div>

</div>

<%- include("partials/footer.ejs") -%>