
<%- include("partials/landingHeader.ejs") -%>


<div class="tvshow-english-top-rated">

     <!-- left right buttons -->
     <div class="tvshow-englishleftButtonCarousel-top-rated left1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-left1" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg></div>

     <div class="tvshow-englishrightButtonCarousel-top-rated right1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-right1" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg></div>

     <p class="tvshow-english-top-rated-text">
          Top rated by critics
     </p>
     <div class="tvshow-english-top-rated-Carousel slide11">

          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/english/house of dragons.webp"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/english/iron fist.webp"
                         alt=""></a>
          </div>
        
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/english/loki.webp"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/english/moonknight.webp" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/english/office s2.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages"
                         src="images/images/tv shows/english/office.jpg" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/english/peace maker.jpg" alt=""></a>
          </div>
          
     </div>

</div>

<div class="tvshow-english-most-watched">

     <!-- left right buttons -->
     <div class="tvshow-englishleftButtonCarousel-most-watched left2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-left2" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg></div>

     <div class="tvshow-englishrightButtonCarousel-most-watched right2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-right2" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg></div>

     <p class="tvshow-english-most-watched-text">
          Most watched
     </p>
     <div class="tvshow-english-most-watched-Carousel slide2">

          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/english/prison break.webp"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/english/real time.webp"
                         alt=""></a>
          </div>
        
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/english/she hulk.webp"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/english/vamp d. s1.jpg" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/english/white collar.webp"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages"
                         src="images/images/tv shows/english/young s. s2.jpg" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/english/young s. s4.jpg" alt=""></a>
          </div>
          
     </div>

</div>

<div class="tvshow-english-best-for-you ">

     <!-- left right buttons -->
     <div class="tvshow-englishleftButtonCarousel-best-for-you left3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-left3" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg></div>

     <div class="tvshow-englishrightButtonCarousel-best-for-you right3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor" class="bi bi-chevron bi-chevron-right3" viewBox="0 0 16 16">
               <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg></div>

     <p class="tvshow-english-best-for-you-text">
               Best for you
     </p>
     <div class="tvshow-english-best-for-you-Carousel slide3">

          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/english/vamp d. s2.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/english/vamp d. s3.jpg"
                         alt=""></a>
          </div>
        
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/english/vamp d. s4.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/english/vamp d. s5" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/english/vamp d. s6.jpg"
                         alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages"
                         src="images/images/tv shows/english/vamp d. s7.jpg" alt=""></a>
          </div>
          <div class="latestCards">
               <a href=""><img class="cardsImages" src="images/images/tv shows/english/vamp d. s8.jpg" alt=""></a>
          </div>
          
     </div>

</div>
<%- include("partials/footer.ejs") -%>