
<%- include("partials/landingHeader.ejs") -%>

<div class="movie">
     <!-- name, movie, director, grnre,language,  released,  writes, plot,  -->
     <div class="moviedetails">
          
     </div>
     <!-- image,duration,  -->
     <div class="imageSection">
          <img src="" alt="" srcset="">
     </div>
</div>

<%- include("partials/footer.ejs") -%>
<script src="js/api-movie.js"></script>