
/* english.ejs */

/* -----------------------------------Latest trending carousel----------------------------------- */

.englishLatestTrending{
     margin-top: 18vh;
}


.englishLatestTrendingText{
     font-size: x-large;
     margin-left: 20px;
     /* position: absolute; */
     /* top: 15vh; */
     z-index: -1000000;
}

.englishLatestTrendingCarousel{
     display: flex;
     position: relative;
     overflow: hidden;
}

.englishleftButtonCarousel-trending{
     position: absolute;
     top: 36vh;
     z-index: 1000;
     left: 0;
     padding-top: 5px;
}

.englishrightButtonCarousel-trending{
     position: absolute;
     top: 36vh;
     z-index: 1000;
     right:0;
     padding-top: 5px;

}

     /* -----------------------------------Superheroes carousel----------------------------------- */


     .englishsuperheroes{
          margin-top: 3vh;
     }
     
     
     .englishSuperheroesText{
          font-size: x-large;
          margin-left: 20px;
          /* position: absolute; */
          /* top: 44vh; */
          z-index: -1000000;
     }
     
     .englishSuperheroesCarousel{
          display: flex;
          position: relative;
          overflow: hidden;
     }
     
     .englishleftButtonCarousel-superheroes{
          position: absolute;
          top: 77vh;
          z-index: 1000;
          left: 0;
          padding-top: 5px;
     }
     
     .englishrightButtonCarousel-superheroes{
          position: absolute;
          top: 77vh;
          z-index: 1000;
          right:0;
          padding-top: 5px;
     }



     /* best for you cards */

     .best-for-you{
         text-align: center;
         margin: 20px 0px;
     }
     
     .best-for-you-img{
          width: 400px;
          height: 225px; 
          border-radius: 5px;
          border: 10px solid #1B1736;
          margin: 0px 10px;
     }
     
     .best-for-you-img:hover{
          border: 10px solid rgb(57, 55, 70, 0.5);
     }

     .best-for-you-text{
          font-size: xx-large;
          margin-left: 20px;
          font-weight: 700;
     }
     