* {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

body {
     background-color: #1B1736;
     color: white;
     width: 100vw;
}

a {
     text-decoration: none;
     color: white;
     /* color: black; */
     /* margin-top: -10px; */
}



.banner {
     display: flex;
     justify-content: center;
     margin-top: 20px;
}

.movieBanner {
     width: 64vw;
     height: 430px;
     margin-top: 148px;
}


.categoryBanner {
     display: flex;
     flex-direction: column;
     margin-top: 25px;
     justify-content: center;
     align-items: center;
}

.categoryBanner img {
     width: 100vw;
     height: 628.85px;

}

footer {
     margin: 40px 0px;
}

footer p {
     text-align: center;
}

.aliveContent{
     position: relative;
}

.banner {
     margin-bottom: 30px;
}


.aliveContent:hover{
     animation: gayab 2s forwards ease-in-out;
}

@keyframes gayab{
     from{
          display: inline-block;
     }
     to{
          display: none;
     }
}

#videosList {
     font-size: 20px;
     text-align: center;
    }
    
    .video {
      background-image: url('.\images\images\moviesBanner.png');
      background-size: cover;
      border-radius: 15px 15px;
      height: 330px;
      width: 600px;
      margin: 100px 20px 0px 20px;
      overflow: hidden;
      margin-bottom: 20px;
    }
    
    .thevideo{
     width: 100%;
    }
    /* Hide Play button + controls on iOS */
    video::-webkit-media-controls {
        display:none !important;
    }

/* 
.aliveContent:hover::before {
     content: 'Watch Now!';
     border: 1px solid white;
     padding: 0px 11px;
     position: absolute;
     opacity: 0;
     font-size: 30px;
     left: 5vw;
     z-index: 100000000000;
     animation: cover 200ms forwards ease-out;
}

.aliveContent::before {
     z-index: 100000000000;
     content: 'Watch Now!';
     position: absolute;
     border: 1px solid white;
     padding: 0px 11px;
     opacity: 0;
     font-size: 30px;
     left: 5vw;
     animation: coverReverse 200ms forwards ease-in-out;
} */

@keyframes cover {
     33% {
          bottom: -10px;
          opacity: 0.4;
     }

     66% {
          bottom: 0;
          opacity: 0.6;
     }

     100% {
          bottom: 20px;
          opacity: 1;
     }
}

@keyframes coverReverse {
     from {
          bottom: 20px;
          opacity: 1;

     }

     to {
          bottom: -50px;
          opacity: 0;
     }
}


.darkMode{
     position: fixed;
     background-color: #1B1736;
     z-index: 110;
     height: 58px;
     /* filter: invert(1); */
     width: 55px;
     top: 50vh;
     border: 1px solid white;
     padding: 15px;
     border-radius: 0px 15px 15px 0px;
}

.bi-brightness-high-fill{
     width: 25px;
     height: 25px;
     position: absolute;
     display: none;
}

.bi-moon-fill{
     width: 25px;
     height: 25px;
     /* filter: invert(1); */
     position: absolute;
}

.goToTop{
     position: fixed;
     z-index: 1000;
     bottom: 21px;
     right: 27px;
}

.bi-arrow-up-circle-fill{
     width: 50px;
     height: 50px;
}




