


.telegu-top-trending{
    margin-top: 22vh;
   
}


.telegu-top-trending-text{
    font-size: x-large;
    font-weight: 700;
    margin-left: 20px;
    position: absolute;
    top: 15vh;
    z-index: -1000000;
}

.slide0{
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

.teleguleftButtonCarousel-top-trending{
    position: absolute;
    top: 36vh;
    z-index: 1000;
    left: 0;
    padding-top: 5px;
}

.telegurightButtonCarousel-top-trending{
    position: absolute;
    top: 36vh;
    z-index: 1000;
    right:0;
    padding-top: 5px;

}



.telegu-top-rated{
    margin-top: 20vh;
}


.telegu-top-rated-text{
    font-size: x-large;
    font-weight: 700;
    margin-left: 20px;
    /* position: absolute; */
    /* top: 15vh; */
    z-index: -1000000;
}

.telegu-top-rated-Carousel{
    display: flex;
    position: relative;
    overflow: hidden;
}

.teleguleftButtonCarousel-top-rated{
    position: absolute;
    top: 37vh;
    z-index: 1000;
    left: 0;
    padding-top: 5px;
}

.telegurightButtonCarousel-top-rated{
    position: absolute;
    top: 37vh;
    z-index: 1000;
    right:0;
    padding-top: 5px;

}
.bi-chevron-left1{
    width: 40px;
    height: 40px;
    
}

.bi-chevron-right1{
    width: 40px;
    height: 40px;

}




.telegu-most-watched{
    margin-top: 5vh;
}


.telegu-most-watched-text{
    font-size: x-large;
    font-weight: 700;
    margin-left: 20px;
    /* position: absolute; */
    /* top: 15vh; */
    z-index: -1000000;
}

.telegu-most-watched-Carousel{
    display: flex;
    position: relative;
    overflow: hidden;
}

.teleguleftButtonCarousel-most-watched{
    position: absolute;
    top: 85vh;
    z-index: 1000;
    left: 0;
    padding-top: 5px;
}

.telegurightButtonCarousel-most-watched{
    position: absolute;
    top: 85vh;
    z-index: 1000;
    right:0;
    padding-top: 5px;

}
.bi-chevron-left2{
    width: 40px;
    height: 40px;
    
}

.bi-chevron-right2{
    width: 40px;
    height: 40px;

}





.telegu-best-for-you{
    margin-top: 5vh;
}


.telegu-best-for-you-text{
    font-size: x-large;
    font-weight: 700;
    margin-left: 20px;
    /* position: absolute; */
    /* top: 15vh; */
    z-index: -1000000;
}

.telegu-best-for-you-Carousel{
    display: flex;
    position: relative;
    overflow: hidden;
}

.teleguleftButtonCarousel-best-for-you{
    position: absolute;
    top: 129vh; 
    z-index: 1000;
    left: 0;
    padding-top: 5px;
}

.telegurightButtonCarousel-best-for-you{
    position: absolute;
    top: 129vh;
    z-index: 1000;
    right:0;
    padding-top: 5px;

}
.bi-chevron-left3{
    width: 40px;
    height: 40px;
    
}

.bi-chevron-right3{
    width: 40px;
    height: 40px;

}